/* FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Anurati;
  src: url(Anurati-Regular.otf);
}

/* COLORS */

:root {
  --orchid: #9d00c6;
  --robin-egg-blue: #00ffed;
  --bg-color: rgb(22, 22, 22);
  --redwood: #BD445Bff;
  --brilliant-rose: #E462A7ff;
}


/* ----------------DEFAULT STYLING--------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--bg-color);
  color: white;
}

section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* -----------------------HEADER-------------------------- */

.header {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.header .logo-container {
  display: flex;
  height: 60px;
  max-width: 100px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.header img {
  max-width: 100px;
  width: auto;
} 

.header .navbar-items {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 50rem;
  margin: 0 5rem;
}

.header .navbar-items a {
  color: white;
  letter-spacing: .3rem;
  font-family: Anurati, poppins;
}

.header .menu-icon {
  border: none;
  background: transparent;
  color: white;
  font-size: 2.5rem;
}

.header .menu-icon:hover {
  cursor: pointer;
}

/* --------menu styling--------- */

.menu {
  background: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 999;
  width: 55%;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: right ease 0.3s;
  display: flex;
}

.menu .menu-content{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.menu .menu-content .menu-head {
  border-bottom: 1px solid white;
  height: 60px;
  font-family: poppins;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.menu .menu-content .menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: flex-end;
  padding-top: 5rem;
  padding-right: 4rem;
}

.menu .menu-content .menu-list .menu-home {
  padding: 1rem;
}

.menu .menu-content .menu-list a {
  font-size: 3rem;
  color: white;
  letter-spacing: .5rem;
  font-family: anurati, poppins;
}

.menu .menu-socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10rem;
  top: 25%;
  left: 4rem;
}

.menu .menu-socials button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 2rem;
}

.menu .menu-sidebar{
  width: 30%;
  border-left: 1px solid white;
  z-index: 9999;
}

.menu .menu-sidebar .close-button {
  height: 60px;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-bottom: 1px solid white;
  transition: all ease 0.3s;
}

.menu .menu-sidebar .close-button:hover {
  background-color: white;
  color: rgb(22, 22, 22);
}

/* ----active-class--- */

.active {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
}



/* -----------------other-styling--------------- */

.register {
  display: flex;
  align-items: center;
  background: url(images/bg-1.jpg);
  justify-content: center;
  background-size: cover;  
  position: relative;
}

.register .container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .container .register-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

.register .container .register-content img{
  max-width: 140px;
}

.register .container .register-content h1 {
  font-size: 4rem;
  letter-spacing: .5rem;
  font-family: anurati, poppins;
  letter-spacing: 1rem;
}

.register .container .register-content p {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  width: 70%;
  text-align: center;
}


/*/------------login-form------------ */

.register .container .login-form {
  width: 50%;
  padding: 0 5rem;
  border-left: 2px solid white;
}

.register .container .login-form .wrapper{
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 1rem;
  padding: 40px;
}

.register .container .login-form .wrapper b {
  justify-content: center;
  margin-top: 10px;
  font-size: 1.5rem;
  display: none;
}
.register .container .login-form .wrapper h1{
  font-size: 4rem;
  text-align: center;
}
.register .container .login-form .wrapper p{
  font-size: 2rem;
  text-align: center;
  font-family: poppins;
  letter-spacing: 1px;
}
.register .container .login-form .wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 12px 0;
}
.register .container .login-form .wrapper .input-box input, select{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

select option {
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::placeholder {
  columns: white;
}

.register .container .login-form .wrapper .input-box input::placeholder{
  color: #fff;
}

.register .container .login-form .wrapper .input-box i{
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translate(-50%);
  font-size: 2rem;

}
.register .container .login-form .wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: -15px 0 15px;
}

.register .container .login-form .wrapper .remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;

}

.register .container .login-form .wrapper .btn {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.register .container .login-form .wrapper .btn:hover {
  color: black;
}
/* -------------- */

.learn-more {
  position: relative;
  cursor: pointer;
}

.learn-more::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff; 
  bottom: 0;
  transition: width 0.3s ease;
}

.learn-more:hover::before {
  right: 0;
  width: 100%;
}


/* -------generalised .btn styling-------- */

.btn { 
  background: transparent;
  align-items: center;
  color: white;
  overflow: hidden;
  position: relative;
  transition: .3s ease;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: white;
  transition: .3s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}


/* ---media-queries--- */

@media (max-width: 990px) {
  .register .container .register-content {
    display: none;
  }
  
  .register .container .login-form .wrapper b {
    display: flex;
  }

  .register .container .login-form,
  .register .container .register-form {
    width: 80%;
    border: none;
  }

  .register .container .register-form .wrapper .input-box input{
    padding: 16px;
  }
}

@media (max-width: 900px) {
  .menu {
    width: 100%;
  }
}

@media (max-width: 630px) {

  html {
    font-size: 40%;
  }

  .menu .menu-content .menu-list .menu-home a{
    font-size: 25px;
  }
  
  .header .navbar-items {
    display: none;
  }

  .header .menu-icon {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .menu .menu-socials {
    right: 3rem;
    left: auto;
  }
}

@media (max-width: 490px) {
  .register .container .login-form .wrapper .remember-forgot label input{
    display: none;
  }

  .register .container .login-form .wrapper .remember-forgot label {
    opacity: 0;;
  }

  .register .container .login-form,
  .register .container .register-form {
    width: 100%;
  }
}

