/* FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Anurati;
  src: url(Anurati-Regular.otf);
}

/* COLORS */

:root {
  --orchid: #9d00c6 ;
  --robin-egg-blue: #00ffed;
  --bg-color: rgb(22, 22, 22);
  --redwood: #BD445Bff;
  --brilliant-rose: #E462A7ff;
  --cb: cubic-bezier(.05, .61, .41, .95);
}


/* ----------------DEFAULT STYLING--------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--bg-color);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  transition: 0.25s;
}

section {
  height: 100vh;
}

/* -----------------------HEADER-------------------------- */

.header {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  backdrop-filter: blur(10px);
  z-index: 999;
  top: 0;
}

.header .logo-container {
  display: flex;
  height: 60px;
  max-width: 100px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.header img {
  max-width: 100px;
  width: auto;
} 

.header .navbar-items {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 50rem;
  margin: 0 5rem;
}

.header .navbar-items a {
  color: white;
  letter-spacing: .3rem;
  font-family: anurati, poppins;
}

.header .menu-icon {
  border: none;
  background: transparent;
  color: white;
  font-size: 2.5rem;
}

.header .menu-icon:hover {
  cursor: pointer;
}

/* --------menu styling--------- */

.menu {
  background: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 999;
  width: 55%;
  top: 0;
  bottom: 0;
  right: 0;
  right: -100%;
  transition: right ease 0.3s;
  display: flex;
}

.menu .menu-content{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.menu .menu-content .menu-head {
  border-bottom: 1px solid white;
  height: 60px;
  font-family: poppins;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.menu .menu-content .menu-list {
  width: 100%;
  display: flex;
  height: 90%;
  flex-direction: column;
  row-gap: 5vh;
  align-items: flex-end;
  justify-content: center;
  padding-right: 4rem;
}

.menu .menu-content .menu-list .menu-home {
  padding: 1rem;
}

.menu .menu-content .menu-list a {
  font-size: 3rem;
  color: white;
  letter-spacing: .5rem;
  font-family: Anurati, poppins;
}

.menu .menu-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  gap: 10rem;
  left: 4rem;
  height: 100%;
  bottom: 0;
}

.menu .menu-socials button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 2rem;
}

.menu .menu-sidebar{
  width: 30%;
  border-left: 1px solid white;
  z-index: 9999;
}

.menu .menu-sidebar .close-button {
  height: 60px;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-bottom: 1px solid white;
  transition: all ease 0.3s;
}

.menu .menu-sidebar .close-button:hover {
  background-color: white;
  color: rgb(22, 22, 22);
}

/* ----active-class--- */

.active {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
}


/* ---------------content---------------- */
body.dark {
  color: white;
  background-color: rgb(10, 10, 10);
}

.bg-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url(images/bg-2.jpg) no-repeat;
  background-size: cover;
  filter: brightness(40%);
  top: -20%;
}

.cards {
  display: flex;
  max-width: 800px;
  width: calc(100% - 100px);
  height: 400px;
}

.cards .card .info .title {
  font-weight: bold;
  font-size: 1.2rem;
}

.cards .card .label .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: white;
  color: var(--color);
  border-radius: 50%;
}

.cards .card .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  white-space: pre;
  transition: 1s var(--cb);
}

.cards .card {
  position: relative;
  min-width: 60px;
  background: var(--bg);
  overflow: hidden;
  margin: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.5s var(--cb);
  border-radius: 30px;  
}

.cards .card .label {
  display: flex;
  position: absolute;
  right: 0;
  height: 40px;
  transition: 0.5s var(--cb);
}

.cards .card.active .label {
  bottom: 20px;
  left: 20px;
}

.cards .card.active {
  flex-grow: 10000;
  background-size: cover;
}

.cards .card:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

.cards .card .shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(
    0, #0004, transparent
  );
}

.cards .card.active .info {
  opacity: 1;
}

.cards .card:not(.active) .info {
  opacity: 0;
} 

.cards .card .icon i {
  font-size: 20px;
}

.btn { 
  background: transparent;
  align-items: center;
  color: white;
  overflow: hidden;
  position: relative;
  transition: .3s ease;
}

.btn:hover {
  color: black;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: white;
  transition: .3s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

/* -----------media queries-------------- */

@media (max-width: 900px) {
  .menu {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .menu .menu-content .menu-list .menu-home a{
    font-size: 25px;
  }
  
  .header .navbar-items {
    display: none;
  }
}

@media (max-width: 550px) {
  .menu .menu-socials {
    right: 3rem;
    left: auto;
  }
  
  .cards .card.active {
    flex-grow: 10000;
    background-size: auto 100%;
    height: 400px;
  }

  .cards .card {
    margin: 5px;
    width: 100%;
    height: 70px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: calc(100% - 70px);
    height: 60%;
  }

}